input(
		type="button",
		class="btn btn-b btn-sm feed-button",
		onclick="(function(btn){var z=document.createElement('script');document.subtomeBtn=btn;z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(this)",
		value="Subscribe"
	)

h1 "blog"

hr

for post, slug in public.blog._data
  h2.post-title: a(href="/blog/#{ slug }.html")= post.title
  pre.post-date= post.date
  != partial("blog/" + slug)
  hr